{% extends "base.html" %}

{% block content %}
    {% import "macros.html" as  macros %}

    <div class="container">
        <div class="error-container">
            <div class="logo">
                <h1>GameHub</h1>
            </div>

            <div class="error-code">404</div>
            <div class="error-message">Страница не найдена</div>
            <div class="error-description">
                Похоже, вы пытаетесь найти уязвимость, которой нет в нашей коллекции.<br>
                Возможно, она была исправлена или вы неправильно ищите.
            </div>

            <div class="d-flex justify-content-center">
                <a href="{{ url_for('index') }}" class="btn btn-primary">На главную</a>
            </div>
        </div>
    </div>

{% endblock %}