{% extends "base.html" %}

{% block content %}
    {% import "macros.html" as  macros %}

    <div class="container">
        <div class="error-container">
            <div class="logo">
                <h1>GameHub</h1>
            </div>

            <div class="error-code">500</div>
            <div class="error-message">Ошибка сервера</div>
            <div class="error-description">
                Наши сервера перегрелись от вашего энтузиазма<br>
                Но для решения задачи класть их не нужно!<br>
            </div>

            <div class="d-flex justify-content-center">
                <a href="#" onclick="window.location.reload();" class="btn btn-primary">Обновить страницу</a>
                <a href="{{ url_for('index') }}" class="btn btn-secondary">На главную</a>
            </div>
        </div>
    </div>

{% endblock %}